* {
  margin: 0;
}

#navbar {
    height: 5rem;
}

.logo {
    color: rgb(174, 35, 35);
    font-size: 20px;
}

.hero {
    min-height: calc(100vh - 5rem);
    background-color: black;
    color: white;
}

.hero span{
    color: rgb(174, 35, 35);
    font-size: 20px;
}

.hero-btn {
    background-color: rgb(174, 35, 35);
    color: #fff;
}